{{ custom_update_memory_prompt }}

Below is the current content of my memory which I have collected till now. I have to update it in the following format only:

{% if old_facts %}
{{ old_facts }}
{% else %}
Current memory is empty.
{% endif %}

The new retrieved facts are mentioned in the triple backticks. You have to analyze the new retrieved facts and determine whether these facts should be added, updated, or deleted in the memory.

```
{{ new_facts }}
```

You must return your response in the following JSON structure only:

{
    "memory" : [
        {
            "id" : "<ID of the memory>",                # Use existing ID for updates/deletes, or new ID for additions
            "content" : "<Content of the memory>",      # Content of the memory
            "event" : "<Operation to be performed>",    # Must be "ADD", "UPDATE", "DELETE", or "NONE"
            "old_memory" : "<Old memory content>"       # Required only if the event is "UPDATE"
        },
        ...
    ]
}

Follow the instruction mentioned below:
- Do not return anything from the custom few shot prompts provided above.
- If the current memory is empty, then you have to add the new retrieved facts to the memory.
- You should return the updated memory in only JSON format as shown below. The memory key should be the same if no changes are made.
- If there is an addition, generate a new key and add the new memory corresponding to it.
- If there is a deletion, the memory key-value pair should be removed from the memory.
- If there is an update, the ID key should remain the same and only the value needs to be updated.

Do not return anything except the JSON format.